table{
    display: table;
    table-layout:fixed;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 936px;    
}

td{
    border-bottom: 1px solid $setPrimaryLight;
    padding-top: 12px;
    padding-bottom: 11px;
}
.page-link{
    padding: 5px 10.5px;
    color: $dark;
}
.page-link__pre, .page-link__next{
    padding: 2px 3px 0px 3px;
    color: $primary;
}
.page-link:hover, .page-link:focus{
    background-color: $primary;
    color: white;
    box-shadow: none;
}
.detail__modal{
    width: 480px;
}
.detail__EmirImg{
    @include background-image;
    background-image: url('../images/emir.jpeg');
    height: 141px;
    width: 141px;
}
.detail__info{
    width: 250px;
}


.modal__outer, .modal__innerContent{
    width: 480px;
    height: 576px;
}
.modal__outer{
    position: relative;
    overflow: hidden;    
}
.modal__inner{
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

    
.modal__inner::-webkit-scrollbar {
    display: none;
}



.checkbox-lg .custom-control-label::before, 
.checkbox-lg .custom-control-label::after {
  width: 1.25rem;
  height: 1.25rem;
}

.checkbox-lg .custom-control-label {
  padding-left: 8px;
}
