//圖片取代文字
@mixin hide-text {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
}
//背景圖設定
@mixin background-image{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

//文字設定
@mixin font-set($color,$font-size,$font-weight){
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}

//平板尺寸
@mixin Pad{
    //768~992px都有pad樣式
    @media(max-width: 992px){
        @content;
    }
}
//手機尺寸
@mixin Phone{
    //767px以下都有phone樣式
    @media(max-width: 767px){
        @content;
    }
}