// 1rem=16px

//margin
.mb-2rem{
    margin-bottom: 2rem;
}
.mb-4rem{
    margin-bottom: 4rem;
}
.ml--2rem{
    margin-left: -2rem;
}

.mr-2_5rem{
    margin-right: 2.5rem;
}

// padding
.p-0_75rem{
    padding: 0.75rem;
}
.p-2rem{
    padding: 2rem;
}
.px-2rem{
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-0_75rem{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
.pl-1_75rem{
    padding-left: 1.75rem;
}
.pr-2rem{
    padding-right: 2rem;
}
.pr-4rem{
    padding-right: 4rem;
}
.pr-5rem{
    padding-right: 5rem;
}
.pr-6_5rem{
    padding-right: 6.5rem;
}
.pr-10rem{
    padding-right: 10rem;
}

// 字型大小
.fontSize-0_75rem{
    font-size: 0.75rem;
}
.fontSize-1rem{
    font-size: 1rem;
}
.fontSize-1_25rem{
    font-size: 1.25rem;
}
.fontSize-1_5rem{
    font-size: 1.5rem;
}
.fontSize-0_875rem{
    font-size: 0.875rem;
}
